.header {
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    padding-inline-start: 1rem; /*padding top*/
    padding-inline-end: 1rem; /*padding button*/
    padding-block-start: 1.5rem; /*padding izq*/
    padding-block-end: 1rem; /*padding derecho*/
    align-items: center;
    backdrop-filter: blur(5px); /*aplicar efectos gráficos como el desenfoque o el cambio de color al área detrás de un elemento. en este caso un blur*/
}

/*Hay navegadores que no soportan ciertas propiedades por lo que se aplica las reglas en caso de darse la situación*/
@supports not(backdrop-filter: blur(5px)){
    .header{
        background: var(--gray50);
    } 
}

/*
position: sticky; Al hacer scroll, el header nos persigue,pero para ello hay que indicar algo en top, si se oculta con otros elementos, hacer uso de z-index
    top: 0; 
    z-index: 1; */