@import './incons.css';
@import './fonts.css';
@import './body.css';
@import './link.css';
@import './button-icon.css';
@import './sidebar.css';
@import './ellipsis.css';
@import './slider.css';


:root{
    --primary: #00B050;
    --white: #ffffff;
    --gray10:#B3B3B3;
    --gray20:#737373;
    --gray30:#282828;
    --gray40:#181818;
    --gray50:#181818;
    --gray60:#121212;
    --black: #000000;
    --baseFontFamily: Avenir, Helvetica, sans-serif;
    --headline1: bold 2rem/normal var(--baseFontFamily);
    --headline2: bold 1.5rem/1.75rem var(--baseFontFamily);
    --baseFont: normal .875rem/1.375rem var(--baseFontFamily);
    --baseFontBold: bold .875rem/1.375rem var(--baseFontFamily);
    --buttonFont: bold .875rem/1rem var(--baseFontFamily);
    --smallFont: normal .75em/normal var(--baseFontFamily);
}

/* body{
    background: var(--primary);
    font-family: var(--baseFontFamily);
} */