.alignItems {
    display: flex;
    max-inline-size: 200px;
    border: 1px solid red;
    flex-direction: column;
    align-items: flex-start;

}

.alignItems img{
    max-inline-size: 100px;

}

.alignItems img:nth-child(odd){ /*Todos los elementos impares*/
    align-self: flex-end; /*que se alineen así mismo, al final en el eje transversal, se usa align-self para alinear un flex item en especifico, si son para todos se usa align items*/
}
/* por cascada, si se pone lo siguiente antes, no va funcionaar */
.alignItems img:nth-of-type(1){ /*Todos los elementos impares*/
    align-self: center; /*que se alineen así mismo, al final en el eje transversal, se usa align-self para alinear un flex item en especifico, si son para todos se usa align items*/
    border-radius: 50%;
    margin-block-start: 2rem;
    margin-block-end: 2rem;

    margin-inline-start: 2rem;
    margin-inline-end: 2rem;


}